{{page-title "Invoice - Restaurant"}}

{{!-- Navbar Top --}}
<Navbar @isHistory="true" />

<div class="container mt-5">

    {{!-- Customer Info --}}
    <Customer/>
    
    {{!-- If Empty --}}
    {{#if this.isEmpty }}
        {{!-- Start List Menu --}}
        <div class="progress mt-3">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
        </div> 
        {{!-- If Empty --}}
        <div class="row text-center mt-5 mb-5">
            <h3 class="align-self-center">Add Your Menu!</h3>
            <LinkTo @route="menu">
                <button class="btn btn-primary fa-beat" style="--fa-beat-scale: 1.1; --fa-animation-duration: 3s;" type="submit">
                    <i class="fa-solid fa-utensils"></i> Menu
                </button>
            </LinkTo>
        </div>
        {{!-- End List Menu --}}
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
        </div> 
    {{/if}}
    
    {{!-- History  --}}
    <Accordion 
        @orderNumber="ORD-001"
        @customer="Eunha GFRIEND"
        @manager="Manager Kim"
        @status="waiting-payment"
        @itemList={{this.cart.itemList}}
    />

    {{!-- History  --}}
    <Accordion 
        @orderNumber="ORD-002"
        @customer="Eunha GFRIEND"
        @manager="Manager Kim"
        @status="in-progress"
        @itemList={{this.cart.itemList}}
    />

    {{!-- History  --}}
    <Accordion 
        @orderNumber="ORD-003"
        @customer="Eunha GFRIEND"
        @manager="Manager Kim"
        @status="ready"
        @itemList={{this.cart.itemList}}
    />

    {{!-- History  --}}
    <Accordion 
        @orderNumber="ORD-004"
        @customer="Eunha GFRIEND"
        @manager="Manager Kim"
        @status="completed"
        @itemList={{this.cart.itemList}}
    />

    {{!-- Offer Order Again? --}}
    {{#unless this.isEmpty }}
        <div class="row text-center mt-5 mb-5">
            <h3 class="align-self-center">Order Again?</h3>
            <LinkTo @route="menu">
                <button class="btn btn-primary fa-beat" style="--fa-beat-scale: 1.1; --fa-animation-duration: 3s;" type="submit">
                    <i class="fa-solid fa-utensils"></i> Menu
                </button>
            </LinkTo>
        </div>
        <div class="spacer-bottom"></div>
    {{/unless}}
</div>

{{!-- Navbar Bottom --}}
<NavbarBottom @isHistory="true"/>