<a class="list-group-item list-group-item-action">
    <div class="row">
        <div class="col-6">
        {{!-- Product --}}
        <h5 class="text-primary">{{@menu.name}}</h5>
        <p class="text-primary">{{@menu.description}}</p>
        <p class="text-primary font-weight-bold">Rp {{currency @menu.price}}</p>
        </div>

        <div class="col-6 text-center">
        {{!-- Image --}}
        <section>
            <img class="" src="{{@menu.picture}}" style="width: 75px; height: 75px; object-fit: cover; border-radius:10%">
        </section>
        {{!-- Counter Qty --}}
        <section class="d-flex justify-content-center align-items-center mt-3">
            {{#if this.isQtyZero }}
                {{#if this.isStockEmpty}}
                <div class="d-grid gap-2">
                <button class="btn btn-sm btn-danger" type="submit">
                    <i class="fa-solid fa-ban"></i>
                    Out of Stock
                </button>
                </div>
                {{else}}
                <div class="d-grid gap-2">
                <button class="btn btn-sm btn-primary fa-beat" style="--fa-beat-scale: 1.2; --fa-animation-duration: 2s;" type="submit" {{on "click" this.addToCart}}>
                    <i class="fa-solid fa-cart-shopping" ></i> 
                    Add Now
                </button>
                </div>
                {{/if}}
            {{else}}
                {{#if this.isDeleted }}
                <button class="btn btn-primary btn-sm me-3" type="button" {{on "click" this.subToCart}}><i class="fa-solid fa-trash"></i></button>
                {{else}}
                <button class="btn btn-primary btn-sm me-3" type="button" {{on "click" this.subToCart}}><i class="fa-solid fa-minus"></i></button>
                {{/if}}
                <h3 class="align-self-center text-black">{{this.qtyCount}}</h3>
                {{#if this.isStockEmpty}}
                <button class="btn btn-danger btn-sm ms-3" type="button">
                <i class="fa-solid fa-ban"></i>
                </button>
                {{else}}
                <button class="btn btn-primary btn-sm ms-3 fa-beat" style="--fa-beat-scale: 1.2; --fa-animation-duration: 2s;" type="button" {{on "click" this.addToCart}}>
                <i class="fa-solid fa-plus"></i>
                </button>
                {{/if}}
            {{/if}}
        </section>
        </div>
    </div>
</a>