<div class="item-selected">
  <div class="card mx-auto">
    <img class="card-img-top" src="{{@menu.picture}}" style="width: 12rem; height: 12rem; object-fit: cover;" alt="Restaurant menu image">
    <div class="card-body">
      {{!-- Name --}}
      <p class="card-title font-weight-bold text-limit">{{@menu.name}}</p>
      {{#if @isTrue}}
      <p class="card-text">{{@menu.description}}</p>
      {{/if}}
      {{!-- Price --}}
      <p class="text-primary">Rp {{currency @menu.price}}</p>

      {{!-- Counter Qty --}}
      <section class="d-flex justify-content-center align-items-center">
          {{#if this.isQtyZero }}
            {{#if this.isStockEmpty}}
              <div class="d-grid gap-2">
                <button class="btn btn-sm btn-danger" type="submit">
                  <i class="fa-solid fa-ban"></i>
                  Out of Stock
                </button>
              </div>
            {{else}}
              <div class="d-grid gap-2">
                <button class="btn btn-sm btn-primary fa-beat" style="--fa-beat-scale: 1.2; --fa-animation-duration: 2s;" type="submit" {{on "click" this.addToCart}}>
                  <i class="fa-solid fa-cart-shopping" ></i> 
                  Add Now
                </button>
              </div>
            {{/if}}
          {{else}}
            {{#if this.isDeleted}}
            <button class="btn btn-primary btn-sm me-3" type="button" {{on "click" this.subToCart}}><i class="fa-solid fa-trash"></i></button>
            {{else}}
            <button class="btn btn-primary btn-sm me-3" type="button" {{on "click" this.subToCart}}><i class="fa-solid fa-minus"></i></button>
            {{/if}}
            <h3 class="align-self-center">{{this.qtyCount}}</h3>
            {{#if this.isStockEmpty}}
            <button class="btn btn-danger btn-sm ms-3" type="button">
              <i class="fa-solid fa-ban"></i>
            </button>
            {{else}}
            <button class="btn btn-primary btn-sm ms-3 fa-beat" style="--fa-beat-scale: 1.2; --fa-animation-duration: 2s;" type="button" {{on "click" this.addToCart}}>
              <i class="fa-solid fa-plus"></i>
            </button>
            {{/if}}
          {{/if}}
      </section>

    </div>
  </div> 
</div>